* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Londrina solid", cursive;
  transition: background-color 1s ease;
}

header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mode {
  width: 45px;
  height: 45px;
  margin-left: 1rem;
}

.icon {
  width: 45px;
  height: 45px;
  margin-right: 1rem;
  margin-left: 0.5rem;
}

.settings-container {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
  transition: background-color 1s ease;
}

.settings-container > div {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 1rem;
  cursor: pointer;
}

h3 {
  font-size: 20px;
  font-weight: 300;
}

.container {
  width: 100vw;
  height: calc(100vh - 140px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date {
  font-size: 3vw;
  font-weight: 300;
}
.time {
  font-size: 14vw;
  font-weight: 100;
}

span {
  font-size: 14vw;
  font-weight: 300;
}

input {
  width: 16vw;
  text-align: center;
  font-size: 14vw;
  font-weight: 300;
  font-family: "Londrina solid", cursive;
  color: #111918;
  background-color: transparent;
  border: none;
  outline: none;
}

input:disabled {
  color: inherit;
  -webkit-text-fill-color: inherit;
}

button {
  font-family: "Londrina solid", cursive;
  font-weight: 300;
  font-size: 5vw;
  margin: 10px 30px;
  border: none;
  background-color: transparent;
  color: #111918;
}

button:disabled {
  color: #1119186b;
}

footer {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 425px) {
  .icon {
    width: 35px;
    height: 35px;
  }
  .date {
    font-size: 3vh;
    font-weight: 300;
  }
  .time {
    font-size: 12vh;
    font-weight: 100;
    text-align: center;
  }
}

@media (min-width: 1440px) {
  header,
  footer {
    height: 90px;
  }
  .container {
    height: calc(100vh - 180px);
  }
  .icon {
    width: 60px;
    height: 60px;
    margin-left: 1.2rem;
  }
  .settings-container > div {
    height: 95px;
  }
  h3 {
    font-size: 30px;
  }
}
